body {
    background-image: url(images/CutePlaty.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

        text-emphasis-color: solid black;
        font-size:x-large ;
        text-shadow: solid black;

}


