
body{ 
      font-size: 24px; 
      font-family: 'Times New Roman', Times, serif;
      color: white; 
      background-image:url(/GImages/Playtapus.png);  
}

h1 {
    letter-spacing: 3px;
    text-align: center;
    font-size: 25px larger;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#div {
    display: flex;
    justify-content: center;

}

#table {
    align-self: center;
    border-collapse: seperate;
    border-width: justify;
    border:4px solid black;
    letter-spacing: 1px;
    font-size: 25px;
}

td, th {
    border: 25px rgb(32, 34, 24);
}

th {
    background-color: color blue;
}

td {
    text-align: center;
}

tr:nth-child(even) td{
    background-color: rgb(194, 151, 10);
    font-style: normal;
}

tr:nth-child(odd) td {
    background-color: rgb(206, 126, 21);
}

caption{
    padding: 40px;
}

