/*element.style {

}


html [Attribute Style] {
 -weblit-locale "en";
} */
 
html {
    font-size: 10px;
    background-image:url(/https://r.search.yahoo.com/_ylt=AwrFfbUfEiJkWqYTqENXNyoA;_ylu=Y29sbwNiZjEEcG9zAzUEdnRpZAMEc2VjA3Ny/RV=2/RE=1679983264/RO=10/RU=https%3a%2f%2fwwf.ca%2fstories%2ffour-new-species-for-adoption%2f/RK=2/RS=IYelVWiBB0vfLDTdlJWFennlXg0-);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}



body{ 
      display: block;
      margin: 8px;
      font-size: 2rem; 
      font-family: 'Helvetica, Arial, sans-serif;
      
    }

h1 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: yellow;
    text-shadow: 2px, 2px, 2px black, 3px 3px 2px black;
}

h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px black, 3px 3px 2px black;
    text-align: center;
    letter-spacing: 2px;
}


h1 + p {

    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 2px black, 3px 3px 2px black;
}

p::first-line {
    letter-spacing: 4px;
    word-spacing: 4px;
}


p {
    font-size: 2.0rem;
    font-weight: bold;
    color: yellow;
    font-style: Arial;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 2px 2px 2px black, 3px 3px 2px black;
}



img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-height: fit-content;
    border-width: 5px;
    border-color: yellow;
    border-style: dashed;
   
}   

.links {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color:yellow;
    
}




#div {
    display: flex;
    justify-content: center;

}

#table {
    align-self: center;
    border-collapse: seperate;
    border-width: justify;
    border:4px solid black;
    letter-spacing: 1px;
    font-size: 25px;
}

td, th {
    border: 25px red;
}

th {
    background-color: color tan;
}

td {
    text-align: center;
}

tr:nth-child(even) td{
    background-color: rgb(194, 151, 10);
    font-style: normal;
}

tr:nth-child(odd) td {
    background-color: rgb(206, 126, 21);
}

caption{
    padding: 40px;
}

.radio {
    display: flex
}

.radio > div {
    width: 100px;
    height: 100px;
    margin: 40px;


}