body {background-image: url(https://scitechdaily.com/images/Decline-of-Platypus-Populations.jpg); background-size: 900px; color: white}
p {font-size: 18pt;font-weight: bold;;background-color:rgba(0, 0, 0, 0.762);padding: 5px;}
h3 {background-color: turquoise;padding: 10px;text-align: center;}
h2 {font-size: 24pt;text-shadow: 2px 2px 2px black, 2px 2px 2px black}
h1 {font-size: 36pt;text-shadow: 2px 2px 2px black, 2px 2px 2px black}
