body {background-image: url(https://scitechdaily.com/images/Decline-of-Platypus-Populations.jpg); background-size: 900px; color: white}
p {font-size: 18pt;font-weight: bold;}
h3 {background-color: turquoise;padding: 10px;text-align: center;}
h2 {font-size: 24pt;}
h1 {font-size: 36pt;}
